*{
    font-family:  Tahoma;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
} 


#game-intro {
    padding: 20px 0px;
}

#game-container {
    display: flex;
    width: 100vw;
    padding: 20px 0px;
    justify-content: space-around;
}

/* TENGO QUE CAMBIAR LA FOTO DEL BACKGROUND */
#game-screen {
display: none;
align-content: center;
padding: 20px 0px;
overflow: hidden;
position: relative;
background-image: url(images/landscapeOcean.PNG);  /*THIS IS THE BETTER IMAGE */
/* background-image: url(images/IMG_2390.PNG); */
background-size: cover;
animation: slide 5s linear infinite;
}

/* CHECKKK no funciona */
#kitesurfer{
    width: 10px;   
    height: 10px; 
    position: relative;
    top: 150px;
    background-image: url(images/kiter.png);
    background-size: cover;
    animation: jump 500ms infinite;
}

@keyframes jump {
    0% {top: 150px;}
    30% {top: 130px;}
    50% {top: 80px;}
    80% {top: 130px;}
    100% {top: 150px;}  
}


#obstacles{
    background-image: url(images/fishobstacle.png);
    width: 5px;
    height: 5px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
} 

@keyframes obstacles {
    0%{left:480px;}
    100%{left:-40px;}
    
}



#game-end {
    display: none;
}

.game-intro p {
    font-size: 18px;
    font-family: "Verdana";
}

.logo-img {
    width: 400px;
    height: 400px;
}

body button {
    font-size: 30px;
    background-color: aqua;
    color: black;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

